Title : Association_Rules_Department_Store

Date : 2019.08.10

Update : 2020.07.31

Author : Mao-Zhou Wang

Email : maozhou0112@gmail.com

In [2]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [55]:
df = pd.read_excel('June.xlsx')

In [56]:
#行列計算總數
#basket = pd.pivot_table(df,index=['date_card_number'],columns=['counter'],values=['frequency'],aggfunc=[np.sum],fill_value=0,margins=1)
basket = pd.pivot_table(df,index=['date_card_number'],columns=['counter'],values=['frequency'],aggfunc=[np.sum]).fillna(0)
basket

                       sum                                                  \
                 frequency
counter                0.5 3NITY Acave Store BG SHOP BIRKENSTOCK CACO、NAVY
date_card_number
4361710008033          0.0   0.0         0.0     0.0         0.0       0.0
4361710010151          0.0   0.0         0.0     0.0         0.0       0.0
4361710014115          0.0   0.0         0.0     0.0         0.0       0.0
4361710030778          0.0   0.0         0.0     0.0         0.0       0.0
4361710033195          0.0   0.0         0.0     0.0         0.0       0.0
...                    ...   ...         ...     ...         ...       ...
4364610866274          0.0   0.0         0.0     0.0         0.0       0.0
4364610866397          0.0   0.0         0.0     0.0         0.0       0.0
4364620000234          0.0   0.0         0.0     0.0         0.0       0.0
4364620000313          0.0   0.0         0.0     0.0         0.0       0.0
4364620000315          0.0   0.0         0.0     1.0         0.0       0.0

                                                                 ...       \
                                                                 ...
counter          Chuyu Culture  DYC EDJ銀飾品 FOCUS IN SELECT SHOP  ... 玩具e哥
date_card_number                                                 ...
4361710008033              0.0  0.0    0.0                  0.0  ...  0.0
4361710010151              0.0  0.0    0.0                  0.0  ...  0.0
4361710014115              0.0  0.0    0.0                  0.0  ...  0.0
4361710030778              0.0  0.0    0.0                  0.0  ...  0.0
4361710033195              0.0  0.0    0.0                  0.0  ...  0.0
...                        ...  ...    ...                  ...  ...  ...
4364610866274              0.0  0.0    0.0                  0.0  ...  0.0
4364610866397              0.0  0.0    0.0                  0.0  ...  0.0
4364620000234              0.0  0.0    0.0                  0.0  ...  0.0
4364620000313              0.0  0.0    0.0                  0.0  ...  0.0
4364620000315              0.0  0.0    0.0                  0.0  ...  0.0



counter          異地戀展 第一化工 精光堂時計 自己做烘培聚樂部 遇見恆久 邊緣工事 鬥牛士二鍋 鬥牛士石燒牛排  麵通屋
date_card_number
4361710008033     0.0  0.0   0.0      0.0  0.0  0.0   0.0     0.0  0.0
4361710010151     0.0  0.0   0.0      0.0  0.0  0.0   0.0     0.0  0.0
4361710014115     0.0  0.0   0.0      0.0  0.0  0.0   0.0     0.0  0.0
4361710030778     0.0  0.0   0.0      0.0  0.0  0.0   0.0     0.0  0.0
4361710033195     0.0  0.0   0.0      0.0  0.0  0.0   0.0     0.0  0.0
...               ...  ...   ...      ...  ...  ...   ...     ...  ...
4364610866274     0.0  0.0   0.0      0.0  0.0  0.0   0.0     0.0  0.0
4364610866397     0.0  0.0   0.0      0.0  0.0  0.0   0.0     0.0  0.0
4364620000234     0.0  0.0   0.0      0.0  0.0  0.0   0.0     0.0  0.0
4364620000313     0.0  0.0   0.0      0.0  0.0  0.0   0.0     0.0  0.0
4364620000315     0.0  0.0   0.0      0.0  0.0  0.0   0.0     0.0  0.0

[7449 rows x 69 columns]

In [57]:
#將計數轉換為0和1
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

In [58]:
#將計數轉換為0和1
basket_sets = basket.applymap(encode_units)
basket_sets

                       sum                                                  \
                 frequency
counter                0.5 3NITY Acave Store BG SHOP BIRKENSTOCK CACO、NAVY
date_card_number
4361710008033            0     0           0       0           0         0
4361710010151            0     0           0       0           0         0
4361710014115            0     0           0       0           0         0
4361710030778            0     0           0       0           0         0
4361710033195            0     0           0       0           0         0
...                    ...   ...         ...     ...         ...       ...
4364610866274            0     0           0       0           0         0
4364610866397            0     0           0       0           0         0
4364620000234            0     0           0       0           0         0
4364620000313            0     0           0       0           0         0
4364620000315            0     0           0       1           0         0

                                                                ...            \
                                                                ...
counter          Chuyu Culture DYC EDJ銀飾品 FOCUS IN SELECT SHOP  ... 玩具e哥 異地戀展
date_card_number                                                ...
4361710008033                0   0      0                    0  ...    0    0
4361710010151                0   0      0                    0  ...    0    0
4361710014115                0   0      0                    0  ...    0    0
4361710030778                0   0      0                    0  ...    0    0
4361710033195                0   0      0                    0  ...    0    0
...                        ...  ..    ...                  ...  ...  ...  ...
4364610866274                0   0      0                    0  ...    0    0
4364610866397                0   0      0                    0  ...    0    0
4364620000234                0   0      0                    0  ...    0    0
4364620000313                0   0      0                    0  ...    0    0
4364620000315                0   0      0                    0  ...    0    0



counter          第一化工 精光堂時計 自己做烘培聚樂部 遇見恆久 邊緣工事 鬥牛士二鍋 鬥牛士石燒牛排 麵通屋
date_card_number
4361710008033       0     0        0    0    0     0       0   0
4361710010151       0     0        0    0    0     0       0   0
4361710014115       0     0        0    0    0     0       0   0
4361710030778       0     0        0    0    0     0       0   0
4361710033195       0     0        0    0    0     0       0   0
...               ...   ...      ...  ...  ...   ...     ...  ..
4364610866274       0     0        0    0    0     0       0   0
4364610866397       0     0        0    0    0     0       0   0
4364620000234       0     0        0    0    0     0       0   0
4364620000313       0     0        0    0    0     0       0   0
4364620000315       0     0        0    0    0     0       0   0

[7449 rows x 69 columns]

In [65]:
frequent_itemsets = apriori(basket_sets, min_support=0.0005, use_colnames=False)
#use_colnames=True表示使用名字，預設的False使用列數
frequent_itemsets

      support      itemsets
0    0.096926           (0)
1    0.002014           (1)
2    0.005101           (2)
3    0.037723           (3)
4    0.004564           (4)
..        ...           ...
297  0.000537   (0, 26, 29)
298  0.000537   (29, 45, 5)
299  0.000537  (52, 29, 15)
300  0.000671  (51, 47, 15)
301  0.000537  (66, 47, 15)

[302 rows x 2 columns]

In [61]:
frequent_itemsets.sort_values(by='support',ascending=False,inplace=True)
#依support排序(排序)
frequent_itemsets

     support itemsets
20  0.104175     (29)
0   0.096926      (0)
34  0.087394     (47)
3   0.073298      (5)
36  0.056249     (49)
18  0.051953     (26)
37  0.046449     (51)
28  0.045509     (38)
2   0.037723      (3)
32  0.035575     (45)
41  0.032756     (56)
31  0.031951     (44)
47  0.030474     (66)
10  0.029131     (16)
4   0.028192      (6)
43  0.027789     (59)
9   0.027655     (15)
5   0.027520      (9)
40  0.027118     (54)
49  0.020405     (68)
48  0.019331     (67)
38  0.017855     (52)
16  0.017318     (22)
21  0.016647     (31)
45  0.016378     (63)
11  0.015438     (17)
24  0.015170     (34)
7   0.015036     (13)
12  0.014767     (18)
27  0.014499     (37)
19  0.014364     (27)
39  0.014096     (53)
35  0.013827     (48)
14  0.011814     (20)
23  0.010874     (33)
51  0.009397  (0, 29)
15  0.008726     (21)
30  0.008458     (43)
17  0.008323     (25)
13  0.008055     (19)
42  0.007921     (57)
46  0.007921     (64)
33  0.007384     (46)
50  0.006444   (0, 5)
22  0.006444     (32)
8   0.006310     (14)
6   0.005907     (10)
26  0.005773     (36)
25  0.005773     (35)
29  0.005504     (39)
52  0.005370  (29, 5)
44  0.005236     (62)
1   0.005101      (2)

In [62]:
frequent_itemsets2 = frequent_itemsets[frequent_itemsets.itemsets.apply(lambda x: len(x)) >= 2]
# 篩選頻繁項集>= 2
frequent_itemsets2

     support itemsets
51  0.009397  (0, 29)
50  0.006444   (0, 5)
52  0.005370  (29, 5)

In [66]:
association_rule = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
# metric可以有很多的度量選項，返回的表列名都可以作為引數
association_rule

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0),(12),0.096926,0.002819,0.000537,0.005540,1.965176,0.000264,1.002736
1,(12),(0),0.002819,0.096926,0.000537,0.190476,1.965176,0.000264,1.115562
2,(0),(24),0.096926,0.004162,0.000537,0.005540,1.331248,0.000134,1.001386
3,(24),(0),0.004162,0.096926,0.000537,0.129032,1.331248,0.000134,1.036863
4,(0),(27),0.096926,0.014364,0.002014,0.020776,1.446333,0.000621,1.006547
...,...,...,...,...,...,...,...,...,...
189,"(66, 15)",(47),0.001611,0.087394,0.000537,0.333333,3.814132,0.000396,1.368909
190,"(15, 47)",(66),0.003759,0.030474,0.000537,0.142857,4.687854,0.000422,1.131114
191,(66),"(15, 47)",0.030474,0.003759,0.000537,0.017621,4.687854,0.000422,1.014111
192,(47),"(66, 15)",0.087394,0.001611,0.000537,0.006144,3.814132,0.000396,1.004561
193,(15),"(66, 47)",0.027655,0.001745,0.000537,0.019417,11.126214,0.000489,1.018022

In [37]:
association_rule.sort_values(by='confidence',ascending=False,inplace=True)
#依by=support,confidence...排序

In [67]:
frequent_itemsets.to_csv('frequent_itemsets.csv',encoding='utf_8_sig')
association_rule.to_csv('association_rule.csv',encoding='utf_8_sig')